body {
    background-color: #202020;
    font-family: Ubuntu;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

a:hover {
    color: #4f05af;
}

.fatherContainer {
    display: flex;
    background-color: #202020;
    overflow: hidden;
}

.colorText{
    /* color: #000000;
    background-color: rgb(255, 255, 255); */
    font-style: italic;
    font-size: 60px;
}

.Geometry1 {
    z-index: -99;
}
.Geometry2 {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    left: 40;
}
.Geometry3 {
    z-index: -99;
}
.Geometry4 {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    left: 40;
}
/* Sidebar */
#leftNavContainer{
    display: flex;
    flex-direction: column;
    position:fixed;
    overflow: hidden;
    align-self: baseline;
    align-items: center;
    justify-content: center;
    width: 7%;
    min-width: 100px;
    min-height: 500px;
    height: 100vh;
    background-color: #111111;
    transition: 0.4s;
}

.openbtn {
    display: none;
}

a{
    transition: 0.4s;
}

.closebtn {
    display: none;
}

.fatherContainer2 {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    width:100%;
    background-color: #202020;
}

.mainContainer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-color: #202020;
}

/* Section 1 */
.s1Conteiner0 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #202020;
}
.s1Conteiner1{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 5%;
    justify-content: center;
    background-color: #202020;
}
.s1Conteiner1b{
    z-index: 2;
    position: absolute;
    left: 20%;
}

/* Section2 */
.s2Conteiner0{
    display: flex;
    
    width: 100%;
    height: 100vh;
    background-color: #202020;
}

.s2Conteiner1{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    background-color: #202020;
}
.s2Conteiner1b{
    z-index: 2;
    position: absolute;
    left: 20%;
}
.s2Conteiner1 p{
text-align: left;
}

/* Section3 */
.s3Conteiner0{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    background-color: #202020;
}
.s3Conteiner1{

}
.s3Conteiner1 p{
text-align: center;
margin: 0;
padding: 2% 0 2% 0;
}
.s3Conteiner1b{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #202020;
    justify-content: space-evenly;
}
    /* Projects miniatures */
.projectL1C1 {
    display: flex;
    width: 40%;
    height: auto;
    background-color: #111111;
    min-width: 35%;
    margin: 1% 0 0 0;
}

.projectL2C1 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.projectL2C2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    
    align-items: center;
    justify-content: center;
}

.video{
    padding: 35% 10% 0% 5%;
    width: 100%;
    height: 100%;
}

.projectL3C3{
    margin: 0 0 5% 0;
}

.projectL3C1,
.projectL3C2,
.projectL3C3
{
    display: flex;
    width: 100%;
    background-color: transparent;
}

.projectL3C1,
.projectL3C3
{
    height: 20%;
    justify-content:space-evenly;
    align-items: center;
}

.projectL3C2
{
    height: 60%;
}

.projectL3C1 p {
    font-weight: bold;
    font-size: 120%;
    padding: 5%;
}

.projectL3C2 p {
    margin: 5%;
    color: rgb(200, 200, 200);
    line-height: 150%;
    text-align: justify;
    background-color: transparent;

}

.projectL3C3 a
{
    outline: none;
	cursor:pointer;
    background-color: transparent;
	font-size:18px;
	text-decoration:none;
    position: relative;
    z-index: 0;
    padding:10px 10px;
}

.projectL3C3 button:hover
{
    color: #4f05af;
}
#audioBTN:hover {
    color: #FFFFFF;
    user-select: none;
}

.projectL3C1 p
{
    color: #FFFFFF;


}

/* Section5 */
.s5Conteiner0 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #202020;
}

.s5Conteiner1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100vh;
    background-color: #202020;
}

.s5Conteiner1b {
    width: 45%;
    height: 100vh;
    background-color: #202020;
}

.contactTitle{
    font-size: 55px;
    font-variant: unset;
    font-weight: bold;
    color: white;
    padding: 0 0 20px 0;
}

.contactText{
    font-size: 18px;
    font-variant:unset;
    font-weight: lighter;
    color: rgb(200, 200, 200);
    padding: 0 0 40px 0;
}

.contactForm{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 200px;
}

.contactInfo {
    background-color: #303030;
    color:#ffffff;
    border: solid 2px #303030;
    padding: 20px 10px 20px 10px;
    margin: 10px 0 10px 0;
    width: 100%;
}

.contactInfo:active,
.contactInfo:focus {
    background-color: #464646;
}

.contactForm textarea {
    width: 100%;
    height: 120px;
    min-width: 100%;
    min-height: 120px;
    max-height: 250px;
    max-width: 100%;
    font-family:'Ubuntu', sans-serif;
}

.sendEmail {
    border:1px solid #303030;
    background-color: #303030;
    color: white;
    width: 50%;
    outline: none;
	cursor:pointer;
	font-size:18px;
	padding:15px 60px;
	text-decoration:none;
    position: relative;
    z-index: 0;
}

.sendEmail:hover{
    color: #4f05af;
}
/* END */


.mainContainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-color: #202020;
}
.mainContainer0b {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #202020;
}

.mainCointainer0 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21c1c7;
}

.h1{
    font-size: 90px;
    font-variant: unset;
    font-weight: bold;
    color: white;
}

.h2{
    font-size: 60px;
    font-variant: unset;
    font-weight: bold;
    color: white;
    margin-left: 10%;
}

/* Glowing contact me button */
.button1 {
    border:1px solid #4f05af;
    outline: none;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:15px 60px;
	text-decoration:none;
    position: relative;
    z-index: 99;
}

.button1:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    /* Removed colors #fffb00, #48ff00 */
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .1s ease-in-out;
}

.button1:active {
    color: #FFFFFF;
}

.button1:active:after {
    background: #202020;
}

.button1:hover:before {
    opacity: 1;
}

.button1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #202020;
    border:  0px;
    color: 202020;
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

  /* Typing Effect */
.typingContainer {
    display: flex;
    align-items: left;
    justify-content: left;
}

.typing {
    font-size: 51px;
    font-weight: 300px;
    color: white;
    width: 19ch;
    animation: typing 2.5s steps(19), blink .6s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
}

@keyframes typing {
    from {
    width: 0
    }
}

@keyframes blink {
    50% {
    border-color: transparent
    }
}

/********/

.button2 {
    color: #ffffffc7;
    border: 1px solid #ffffff6e;
    padding: 25px;
    width: 100%;
    text-align: center;
}

/* .button2m {
    color: #ffffffc7;
    position: absolute;
    top: 0px;
    padding: 5px;
    width: 100%;
    text-align: center;
} */

#audioBTN{
    font-size: 17px;
    color: #ffffffc7;
    position: relative;
    top: -5%;
    text-align: center;
    padding: 0 0 0 15px;
    display: none;
}

.music{
    filter: invert(1) ;
    width: 30px;
    position: relative;
    top: -5%;
    padding: 0 0 0 15px;
}

.music {
cursor: pointer;
}

.music:hover{
    color: #4f05af;
}

.social {
}

#insta {
    font-size: 20px;
    color: #ffffffc7;
    position: relative;
    bottom: -200%;
    padding: 0 10px 0 0;
}
#insta:hover{
    color: #4f05af;
}

    /* Map color filter */
    .map {
        width:100%;
        height:100vh;
        border:0;
    }

@-ms-viewport{
    width: device-width;
}

@media only screen and (max-width: 1081px){
    /* Sidebar and Various */
    #audioBTN{
        font-size: 170%;
        padding: 5%;
        position: relative;
        top: 13.5vh;
        display: none;
    }
    .music{
        filter: invert(1) ;
        width: 65px;
        position: relative;
        top: -5%;
        padding: 0 0 0 15px;
    }
    #leftNavContainer{
        /* display: flex;
        flex-direction: column;
        position:fixed;
        overflow: hidden;
        align-self: baseline;
        align-items: center;
        justify-content: center; */
        width: 20%;
        /* min-width: 100px;
        min-height: 500px;
        height: 100vh;
        background-color: #111111; */
    }
    .button2{
        font-size: 170%;
        padding: 20% 0 20% 0;
    }
    #insta {
        font-size: 60px;
        color: #ffffffc7;
        position: relative;
        bottom: -30%;
        display: block;
        padding-bottom: 150%;
    }
    .closebtn {
    position: absolute;
    top: 20px;
    font-size: 90px;
    text-align: center;
    color: white;
    display:inline;
    }
    .openbtn {
        font-size: 30px;
        cursor: pointer;
        background-color: rgba(17, 17, 17, 0.555);
        color: white;
        padding: 20px 40px 20px 40px;
        border: none;
        display: block;
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: 99999;
    }
    .openbtn:hover {
        background-color: #444;
    }
    #leftNavContainer{
        display: none;
        z-index: 999;
    }
    .fatherContainer2 {
        margin: 0%;
        padding: 0%;
        width: 100vw;
    }

    /* Section 1 */
    .h1{
        font-size: 140px;
        font-variant: unset;
        font-weight: bold;
        color: white;
    }
    .h2{
        font-size: 90px;
        font-variant: unset;
        font-weight: bold;
        color: white;
        margin-left: 10%;
    }
    .colorText{
        font-style: italic;
        font-size: 90px;
    }
    .button1 {
        font-size:50px;
    }
    .typing {
        font-size: 80px;
    }
    .s1Conteiner0 {
        flex-direction: column;
        margin: 0%;
        padding: 0%;
        width: 100%;
    }
    .s1Conteiner1{
        height: 50%;
        width: 100%;
        align-self: center;
        align-items: center;
        justify-content: center;
        padding: 0%;
        margin: 0;
    }
    .s1Conteiner1 h1{
        text-align:center;
        justify-content: center;
    }
    .s1Conteiner1b{
        position: static;
        max-height: 50%;
        left: 0;
        width: 100%;
        align-self: center;
        overflow: hidden;
    }
    #Geometry1{
        width: 100%;
    }
    #Geometry2{
        padding: 0;
        margin: auto;
        display: block;
        position: absolute;
        top: 40%;
        bottom: 0;
        right: 0;
    }
    /* Section 2 */
    .s2Conteiner0{
        flex-direction: column;
        align-items: center;
    }
    .s2Conteiner1{
        height: 50%;
        width: 100%;
        align-self: center;
        align-items: center;
        justify-content: center;
        padding: 0%;
        margin: 0;
    }
    .s2Conteiner1 p{
        position: absolute;
        top: 110%;
    }
    .s2Conteiner1b{
        position: static;
        max-height: 50%;
        left: 0;
        width: 100%;
        align-self: center;
        overflow: hidden;
    }
    #Geometry3{
        width: 100%;
    }
    #Geometry4{
        padding: 0;
        margin: auto;
        display: block;
        position: absolute;
        top: 220%;
        bottom: 0;
        right: 0;
    }
    /* Section 3 */
    .s3Conteiner0{
        height: auto;
    }
    .s3Conteiner1b {
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        width: 100vw;
        height:auto;
        background-color: #202020;
        justify-content:center;
        align-items: center;
        /* border: solid 1px yellow; */
    }
    .projectL1C1{
        width: 100%;
        height: auto;
        margin-bottom: 5%;
        /* border: solid 1px rgb(253, 24, 24); */
    }
    .projectL1C1 p{
        line-height: normal;
    }

    .projectL3C1 p,
    .projectL3C2 p
    {
        font-size: 180%;
    }
    .projectL3C3 a{
        font-size: 180%;
    }


    /* Section 5 */
    .s5Conteiner0 {
        flex-direction: column;
        align-items: center;
    }
    .s5Conteiner1{
        padding: 5% 0 5% 0;
        height: 60%;
    }
    .s5Conteiner1b{
        padding-left: 7%;
        width: 60%;
        height: 30%;
        overflow: visible;
        padding-bottom: 5%;
    }
    .map {
        width:100%;
        height:100%;
        border:0;
        padding-bottom: 10%;
    }
    .contactText,
    .contactInfo,
    .sendEmail{
        font-size: 180%;
    }
    .contactText{
        text-align: center;
    }
    .contactForm{
        width: 100%;
    }
    .contactTitle{
        font-size: 90px;
    }
}